.theme-check-report {
	margin: 1em;
}

.report-file-item {
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.report-file-item {
	padding: 3px;
}

.report-file-heading {
	font-weight: 700;
	background-color: #525D76;
	color: #FFF;
}

.report-file-item .report-file-heading .report-file-heading-field {
	margin-right: 5px;
}

.report-table {
	margin: 5px 0;
	color: #444;
	width: 100%;
}

.report-table tr td {
	padding: 2px;
}

.report-table tr:nth-child(odd) {
	background-color: #FFF;
}

.report-table .item-type-error td {
	background-color: #ffdab9;
}

.report-table td {
	padding: 0 5px;
}

.report-table td.td-line {
	width: 55px;
}

.report-table td.td-type {
	text-transform: uppercase;
	width: 75px;
}

.report-summary {
	font-weight: bold;
	border-collapse: collapse;
}

.report-summary td,
.report-summary th {
	border: 1px #DDD solid;
	padding: 5px;
}

.report-summary tr {
	background-color: #efefef;
}

.report-summary tr.heading {
	background-color: #525D76;
	color: #FFF;
}

.report-summary tr.field {
	background-color: #CCCCCC;
}

.progress-bar{
	position: relative;
	padding: 6px 10px;
	color: #c5c5c5;
	font-weight: 700;
}
.progress-bar .meter {
    background: #525D76;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}