.theme-check-report {
	margin: 1em;
}

.theme-check-report-json .report-file-item {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px #DDD dashed;
}

.theme-check-report-json .report-file-item .report-file-heading {
	font-weight: 700;
}

.theme-check-report-json .report-file-item .report-file-heading .heading-field {
	margin-right: 5px;
	text-transform: uppercase;
}

.theme-check-report-json .report-file-item .report-file-heading-meta {
	font-style: italic;
}

.theme-check-report-json .report-table {
	margin: 5px 0;

}

.theme-check-report-json .report-table .item-type-error{
	color: #D00;
}

.theme-check-report-json .report-table td{
    padding: 0 5px;
}

.theme-check-report-json .report-table td.td-line{
    min-width: 55px;
}

.report-summary {
	font-weight: bold;
	border-collapse: collapse;
}

.report-summary td,
.report-summary th {
	border: 1px #DDD solid;
	padding: 5px;
}

.report-summary tr {
	background-color: #efefef;
}

.report-summary tr.heading {
	background-color: #525D76;
	color: #FFF;
}

.report-summary tr.field {
	background-color: #CCCCCC;
}
