.wrap.theme-sniffer{
	padding: 50px;
	background: #fff;
	margin: 20px 20px 0 0;
}

.wrap.theme-sniffer h1{
	font-weight: 500;
}

.report-file-item {
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.report-file-heading {
	font-weight: 700;
	background-color: #737373;
	color: #fff;
	padding: 8px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.report-file-item .report-file-heading .report-file-heading-field {
	margin-right: 5px;
}

.report-table {
	color: #444;
	width: 100%;
	border-collapse: collapse;
}

.report-table tr td {
	padding: 8px;
	font-weight: 500;
}

.report-table .item-type-error td {
	color: #ef5d5d;
	background:#f3f3f3;
}

.report-table td {
	padding: 0 5px;
}

.report-table td.td-line {
	width: 55px;
}

.report-table tr:last-of-type td.td-line {
	border-bottom-left-radius:5px;
}

.report-table td.td-type {
	text-transform: uppercase;
	width: 75px;
}

.report-table tr:last-of-type td.td-message{
	border-bottom-right-radius:5px;
}

.report-summary {
	font-weight: bold;
	border-collapse: collapse;
}

.report-summary td,
.report-summary th {
	border: 1px #ddd solid;
	padding: 5px;
}

.report-summary tr {
	background-color: #efefef;
}

.report-summary tr.heading {
	background-color: #525D76;
	color: #fff;
}

.report-summary tr.field {
	background-color: #ccc;
}

.progress-bar{
	position: relative;
	height: 18px;
	margin: 20px 0 40px;
	padding: 11px 10px;
	color: #fff;
	background: #c5c5c5;
	font-weight: 700;
	border-radius: 5px;
}
.progress-bar span{
	position: absolute;
	z-index: 3;
}
.progress-bar.install-error,
.progress-bar.install-error .meter{
	background: #ef5d5d;
}
.progress-bar .meter {
	background: #58bf66;
	height: 40px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 5px;
}
