$white-color: #fff;
$dirtywhite-color: #f3f3f3;
$graywhite-color: #ddd;
$gray-color: #ccc;
$darkgray-color: #737373;
$dark-color: #444;
$red-color: #ef5d5d;
$green-color: #58bf66;
$blue-color: #5b9dd9;
$darkblue-color: #1e8cbe;
