@import "primer-tooltips/index.scss";

.theme-sniffer {
	background-color: $white-color;
	margin: 20px 20px 0 0;
	padding: 50px;

	&__title {
		font-weight: 500;
	}

	&__form {

		&-label {
			display: block;
			vertical-align: top;
			margin-right: 10px;
		}

		&-select {
			height: 34px !important;
			padding: 0;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			border: 1px solid $graywhite-color;
			border-radius: 5px;

			&--spaced {
				margin-right: 5px;
			}
		}

		&-input {
			height: 34px;
			padding: 10px;
			margin: 0;
			border: 1px solid $graywhite-color;
			border-radius: 5px;
			min-width: 200px;
		}

		&-button {
			padding: 8px 18px;
			display: inline-block;
			vertical-align: top;
			text-transform: uppercase;
			color: $white-color;
			border-radius: 5px;
			transition: background-color 300ms ease-in-out;
			cursor: pointer;
			margin-right: 5px;

			&--primary {
				background-color: $green-color;

				&:hover {
					background-color: darken($green-color, 20%);
				}
			}

			&--secondary {
				background-color: $red-color;

				&:hover {
					background-color: darken($red-color, 20%);
				}
			}

			&:focus,
			&:active {
				border-color: $blue-color;
				box-shadow: 0 0 2px rgba($darkblue-color, 0.8);
				outline: 0;
			}

			&.is-disabled {
				pointer-events: none;
				color: $gray-color;
			}
		}

		&-description {
			margin-top: 10px;
		}
	}

	&__start-notice {
		display: none;
		font-weight: 700;
		padding: 20px 0 15px;

		&.is-shown {
			display: block;
		}
	}

	&__report {
		$report: &;

		&-item {
			margin-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 20px;
			display: none;

			&.is-shown {
				display: block;
			}
		}

		&-heading {
			font-weight: 700;
			background-color: $darkgray-color;
			color: $white-color;
			padding: 8px 10px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		&-table {
			color: $dark-color;
			width: 100%;
			border-collapse: collapse;
		}

		&-table-row {
			display: block;
			padding: 10px 23px 0 23px;
			background-color: $dirtywhite-color;
			position: relative;

			&:nth-child(even) {
				display: grid;
				grid-template-columns: 125px auto; // result of calc(55px + 75px + 2px - 7px) table-line + table-type + 2px table border - 7px button padding.
				padding-top: 4px;
				padding-bottom: 11px;

				&::after {
					content: "";
					background-color: $graywhite-color;
					width: 90%;
					height: 1px;
					position: absolute;
					bottom: 0;
					left: 5%;
				}
			}

			&.error {

				td {
					color: $red-color;
				}
			}

			&:last-of-type {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;

				&::after {
					display: none;
				}
			}

			&.heading {
				background-color: $dark-color;
				color: $white-color;
			}

			&.field {
				background-color: $gray-color;
			}
		}

		&-table-line {
			font-weight: 500;
			width: 55px;
		}

		&-table-type {
			text-transform: uppercase;
			width: 75px;
		}

		&-table-message {
			line-height: 1.6;
		}

		&.is-raw {
			white-space: pre-wrap;
		}

		&-copy-annotation {

			&-source {
				color: #5c5c5c;
				font-size: 0.9em;
				font-style: italic;
				font-weight: 100;
			}

			&-btn {
				background: transparent;
				border: none;
				cursor: copy; // Set cursor to copy for cross-OS
				display: inline-flex;
				padding: 7px;
				width: 100%;

				.dashicons-clipboard {
					width: 16px;
					height: 16px;
					font-size: 16px;
					padding-right: 7px;
				}
			}
		}
	}

	&__info {
		display: none;

		&.is-shown {
			display: block;
		}

		&.is-error {
			color: $red-color;
		}
	}

	&__check-done-notice {
		display: none;
		position: absolute;
		z-index: 3;

		&.is-shown {
			display: block;
		}
	}
	// Loader taken from: http://tobiasahlin.com/spinkit/
	&__loader {

		&.is-shown {
			display: block;
		}

		display: none;
		width: 40px;
		height: 40px;
		background-color: $blue-color;

		margin: 100px auto;
		-webkit-animation: flip-spinner 1.2s infinite ease-in-out;
		animation: flip-spinner 1.2s infinite ease-in-out;
	}
}

@-webkit-keyframes flip-spinner {

	0% {
		-webkit-transform: perspective(120px);
	}

	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg);
	}
}

@keyframes flip-spinner {

	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}

	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
